.mainplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.playcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
    /* max-width: 720px; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



.twoplayer {
    display: flex;
    align-items: center;
}

.playerone,
.playertwo {
    text-align: center;
    padding: 10px 14px;
    border-radius: 25px 0;
    color: #fff;
    background: rgb(53, 2, 57);
    background: linear-gradient(0deg, rgba(53, 2, 57, 1) 0%, rgba(238, 10, 233, 1) 100%);
}

.img img {
    height: 120px;
    object-fit: cover;
}

/* select category */
select {
    font-size: large;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    background: rgb(53, 2, 57);
    background: linear-gradient(0deg, rgba(53, 2, 57, 1) 0%, rgba(238, 10, 233, 1) 100%);
}

option {
    font-size: medium;
    color: #000;
    padding: 5px;
}

/* turn_level*/
.turn_level {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1.5px solid #000;
  
}

.level {
    /* line-height: 0; */
}

.img1 {
    object-fit: cover;
}

/* Quetion section */
.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question_heading {
    text-align: center;
    color: rgb(18, 10, 238);
    width: 80%;
}

.qs {
    color: #000;
}

/* ans btns */
.answerbtns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    /* max-width: 500px; */
    justify-content: center;
}
.answerbtns button:nth-child(1),.answerbtns button:nth-child(2),.answerbtns button:nth-child(3),.answerbtns button:nth-child(4)    {
    width: 50%;
    background-color: transparent;
    border: 2px solid rgba(238, 10, 233, 1);
    border-radius: 6px;
    font-size: 17px;
    color: rgba(238, 10, 233, 1);
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    /* flex: 1; */
    transition: 0.5s;
}


.answerbtns  button:hover {
    background-color: rgba(238, 10, 233, 1);
    color: #fff;
}
.exit{
    padding: 10px;
    background-color:#fff;
    border: 2px solid brown;
    color: brown;
    font-weight: 600;
    border-radius: 7px;
    padding:10px 15px;
    cursor: pointer;
    font-size: larger;
}
.exit:hover{
    background-color: brown;
    color: #fff;
    transition: 0.2s ease-in-out;
}
.bothbtns{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.restart{
    display: none;
    padding: 10px;
    background-color:#fff;
    border: 2px solid green;
    color: green;
    font-weight: 600;
    border-radius: 7px;
    padding:10px 15px;
    cursor: pointer;
    font-size: larger;text-decoration: none;
}
.restart:hover{
    background-color: green;
    color: #fff;
    transition: 0.2s ease-in-out;
}

@media (max-width:480px) {
    .playcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 94%;
    }

    .playerone,
    .playertwo{
        font-size: 14px;
    } 
    select {
        width: 100%;
    }
    .question_heading {
        width: 100%;
    }
    .answerbtns {
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
    .answerbtns button:nth-child(1),.answerbtns button:nth-child(2),.answerbtns button:nth-child(3),.answerbtns button:nth-child(4){
        width: 100%;
    }

}